<!DOCTYPE html>
<html lang="en">
<head>
<!-- basic -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- mobile metas -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="viewport" content="initial-scale=1, maximum-scale=1">
<!-- site metas -->
<title>Web Defacement Monitoring</title>
<meta name="keywords" content="">
<meta name="description" content="">
<meta name="author" content=""> 
<!-- bootstrap css -->
<link rel="stylesheet" type="text/css" href="static/assets/css/bootstrap.min.css">
<!-- style css -->
<link rel="stylesheet" type="text/css" href="static/assets/css/styleindex.css">
<!-- Responsive-->
<link rel="stylesheet" href="static/assets/css/responsive.css">
<!-- fevicon -->
<!-- <link rel="icon" href="static/assets/images/fevicon.png" type="image/gif" /> -->
<!-- Scrollbar Custom CSS -->
<link rel="stylesheet" href="static/assets/css/jquery.mCustomScrollbar.min.css">
<!-- Tweaks for older IEs-->
<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
<!-- owl stylesheets --> 
<link rel="stylesheet" href="static/assets/css/owl.carousel.min.css">
<!-- <link rel="stylesheet" href="static/assets/css/owl.theme.default.min.css"> -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">

</head>
<body>
  <!--header section start -->
    <div class="header_section">
      <div class="header_left">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="logo"><a href="/"><img src="static/assets/images/logo.png"></a></div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/deleteURL">Delete URL</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Team</a>
              </li>
            </ul>
          </div>
        </nav>
        <div class="banner_main">
          <!-- <h1 class="banner_taital">financial <br>Service</h1>
          <!-- <p class="banner_text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever </p> -->
          <div class="btn_main"> 
            <form>
                <div class="form-group">
                  <label>URL</label>
                  <input type="url" name="url" class="form-control item" placeholder="Enter your URL" required="">
                </div>
                <button type="submit" id="btnRegister" class="btn btn-primary">Submit</button>
              </form>
          </div>
        </div>
      </div>
      <div class="header_right">
        <img src="static/assets/images/banner-img.png" class="banner_img">
      </div>
    </div>

    <div class="project_section_2 layout_padding">
        <div class="container">
          <div class="row">
            <div class="col-lg-3 col-sm-6">
              <div class="icon_1"><img src="static/assets/images/icon-3.png"></div>
              <h3 class="accounting_text_1">1000+</h3>
              <p class="yers_text">Years of Business</p>
            </div>
            <div class="col-lg-3 col-sm-6">
              <div class="icon_1"><img src="static/assets/images/icon-4.png"></div>
              <h3 class="accounting_text_1">20000+</h3>
              <p class="yers_text">Projects Delivered</p>
            </div>
            <div class="col-lg-3 col-sm-6">
              <div class="icon_1"><img src="static/assets/images/icon-2.png"></div>
              <h3 class="accounting_text_1">10000+</h3>
              <p class="yers_text">Satisfied Customers</p>
            </div>
            <div class="col-lg-3 col-sm-6">
              <div class="icon_1"><img src="static/assets/images/icon-1.png"></div>
              <h3 class="accounting_text_1">1500+</h3>
              <p class="yers_text">Services</p>
            </div>
          </div>
        </div>
      </div>
      
    <div class="footer_section ">
    </div>
    <!--footer section end -->
    <!-- Javascript files-->
    <script src="static/assets/js/jquery.min.js"></script>
    <script src="static/assets/js/popper.min.js"></script>
    <script src="static/assets/js/bootstrap.bundle.min.js"></script>
    <script src="static/assets/js/jquery-3.0.0.min.js"></script>
    <script src="static/assets/js/plugin.js"></script>
    <!-- sidebar -->
    <script src="static/assets/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="static/assets/js/custom.js"></script>
    <!-- javascript --> 
    <!-- <script src="static/assets/js/owl.carousel.js"></script> -->
    <script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <script>
        $('#btnRegister').click(function(e) {
            e.preventDefault();
            $.ajax({
                url: '/deleteURL',
                data: $('form').serialize(),
                type: 'POST',
                success: function(res) {
                    if(res == "OKE"){
                        alert("Delete successful!");
                        window.location.href = '/';
                    }else{
                        alert("URL or email not exist!")
                    }
                    console.log(res);
                    // alert("sussess");
                },
                error: function(error) {
                    // alert("error");
                    console.log(error);
                    
                }
            });
            
        });
</script>
</body>
</html>